<h1 class="mt-4" style="text-align:center;">Dashboard</h1>
<p class="lead mb-3" style="text-align:center;">Welcome <%= user.name %></p>
<div style="text-align:center">
<a href="/users/logout" class="btn btn-secondary" style="text-align:center;">Logout</a>
<a href="/simulation" class="btn btn-success" style="text-align:center;">Simulations</a>
</div>